@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

/** global **/
body {
	margin:0px auto;
	padding:0;
	background: #222;
	font-family: 'Oxygen', 'sans-serif';
	font-size: 1.0em;
	color:#555;
}
* {
	margin:0;
	padding:0;
}
#style {
border-style: groove;
border-radius: 20%;
border-color:red;
border-width: 2px;
}

#buton1{
	border:none;
    background-color: forestgreen;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
/** element defaults **/
table {
	width:95%;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	border-top:1px solid #222;
	background-color:#2F2F2F;
}
td {
	border-bottom:1px solid #f4f4f4;
}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color:#B80000;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}
a.button { 
    background-color:forestgreen;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
a.submit { 
    background-color:forestgreen;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-reversed { 
    background-color: #333;
}
a.buttonekle { 
    background-color: green;
}

fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	font-size:13px;
	padding-right:10px;
	color:#222;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family:Oxygen, Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family:Oxygen, Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
fieldset form input.formbutton {
border:none;
    background-color: forestgreen;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
fieldset form input.formbuttonn {
border:none;
    background-color: # 808080;
    border-radius: 5px;
    color: #black;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
	font-size:2.4em;
}
.baslik{
	color:black;
	font-size:1em;
	font-weight:bold;
	font-family: Times New Roman;
	padding:0 0 5px;
	margin:0;
	
	
}
h2 {
	color:black;
	font-size:2em;
	font-weight:bold;
	font-family: Times New Roman;
	padding:0 0 5px;
	margin:0;
}
.diyetlistesiolutur{
	height:290;
	width:290;
}
h3 {
	color:white;
	font-size:1em;
	padding-bottom:10px;
	text-align: left;
	font-family: Times New Roman;
	padding-left:20px;
}
h4 {
	padding-bottom:10px;
	font-size:1.4em;
	color:#000;
}
h5 {
	padding-bottom:10px;
	font-size:1.2em;
	color:#666666;
}
ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}

.width {
	width:1280px;
	margin: 0 auto;
}




/** header **/
header {
	padding-top:15px;
	margin:0 auto;
}
header h1 { 
	text-align: center;
	font-size:2.4em;
}

header h1 a,
header h1 a:hover,
header h1 a:visited {
	color: #fff;
	text-decoration: none;
}

header h2 {
	color:#555;
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
	padding-bottom:0;
	letter-spacing:0;
	text-transform: uppercase;
}

/* beyaz kısmın içi*/
div.beyaz{
	min-height:625px;
	position:relative;
	top:15%;
	left:0%;
	
	
}
header div.tagline {
	color:#C2D7F9;
	font-size:0.9em;
}
header div.tagline a {
	color:#ffffff;
}

div.yeni{
	position:relative;
	margin-right:50px;
	  
	
}

/** body **/
section#body {
	padding: 0;
	background: #2f2f2f;
}


/** content+sidebar styles **/
section#content {
	width:940px;
	padding: 20px;
	background-color: #fff;
}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:300px;
	position: fixed;
}
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
	border-bottom: 1px solid #333;
	font-size:0.8em;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#fff;
	font-weight:bold;
	background-color:#2ECC40;
}
nav#mainnav li a:hover {
	background:#292929;
	color: #eee;
	text-decoration:none;
}
nav#mainnav li a {
	color: #ccc;
	display: block;
	padding: 22px 17px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0.5px;
}

aside#sidebar h4 { 
	color:#0C367E;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}


article {
    padding: 10px 10px 30px;
	font-size: 0.95em;
border-bottom: 1px solid #eee;
 }

article h2 {
    padding-bottom: 0;
   font-size: 2.5em;
}

article .article-info {
  color: #CCC;
font-size: 0.8em;
padding: 0px 0px 10px;
text-transform: uppercase;
}

article .article-info a { 
	color: #ccc;
}



/** footer **/
footer {
	padding:20px 0px;
	top:970px;
}

footer p {
	color:#666;
	margin:0;
	font-size:0.8em;
	text-align: center;
}
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/** clear fix **/
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}

#button1{
height:30px;
width:60px;
color:#2F2F2F;
background-color:#2F2F2F

}

#button1:hover{
height:30px;
width:60px;
color:white;
background-color:forestgreen
}

#button2{
height:30px;
width:70px;
color:#2F2F2F;
background-color:#2F2F2F
}

#button2:hover{
height:30px;
width:70px;
color:white;
background-color:red
}

#button3{
height:30px;
width:60px;
color:#2F2F2F;
background-color:#2F2F2F

}

#button3:hover{
height:30px;
width:60px;
color:white;
background-color:forestgreen
}

#button4{
height:30px;
width:70px;
color:#2F2F2F;
background-color:#2F2F2F
}

#button4:hover{
height:30px;
width:70px;
color:white;
background-color:red
}


@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }	


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0 5px; }
	
	section#content, aside#sidebar { position: relative; float: none; width: auto; }

	
}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }


	nav#mainnav ul li a { margin-top: 0; padding: 1em; }


}
.underlined-a {
  text-decoration: none;
  color: forestgreen;
  padding-bottom: 0.15em;
  box-sizing: border-box;
  box-shadow: inset 0 -0.2em 0 forestgreen;
  transition: 0.2s;
  &:hover {
    color: #222;
    box-shadow: inset 0 -2em 0 forestgreen;
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

.brk-btn {
  position: relative;
  background: none;
  color: forestgreen;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid forestgreen;
  padding: 0.5em 1em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 50;
	height: 50;
	border: 31px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -15.5px;
	margin-right: -31px;
}
.speech-bubblee {
	position: relative;
	background: #80ff80;
	border-radius: .4em;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.speech-bubblee :after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 50;
	height: 50;
	border: 31px solid transparent;
	border-left-color: #80ff80;
	border-right: 0;
	border-bottom: 0;
	margin-top: -15.5px;
	margin-right: -31px;
}
.box {
  width: 300px;
  margin: 50px auto;
  background: #80ff80;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #80ff80;
  font-family: arial;
  position:relative;
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}